<h1>Listing users</h1>

<input type="text" id="textbox1"></input>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#textbox1").autocomplete({
      //source : "/auto_complete"
        source: function(request, response) {
            $.ajax({
                url: "/quick_search",
                dataType: "json",
                data: {term: request.term},
                success: function(data) {
                  var users = eval(data);
                  
                  //table init
                  $("#tellist tbody").remove();
                  $("#tellist").append("<tbody/>");
                  for(var i=0,len=users.length;i<len;i++){
                    var td_div = $("<td/>");
                    var td_name = $("<td/>");
                    var td_furigana = $("<td/>");
                    var td_tel_number = $("<td/>");
                    var td_number050 = $("<td/>");
                    var td_voipid = $("<td/>");
                    var td_voippasswd = $("<td/>");
                    var td_show = $("<td/>");
                    var td_edit = $("<td/>");
                    var td_delete = $("<td/>");
                    var tr = $("<tr/>");
                    td_div.text(users[i].div);
                    td_name.text(users[i].name);
                    td_furigana.text(users[i].furigana);
                    td_tel_number.text(users[i].tel_number);
                    td_number050.text(users[i].number050);
                    td_voipid.text(users[i].voipid);
                    td_voippasswd.text(users[i].voippasswd);
                    var show_href = $("<a/>").attr("href","/users/" + users[i].id).text("Show");
                    td_show.append(show_href);
                    var edit_href = $("<a/>").attr("href","/users/" + users[i].id + "/edit").text("Edit");
                    td_edit.append(edit_href);
                    var delete_href = $("<a/>").attr("href","/users/" + users[i].id).text("Destory");
                    delete_href.attr("data-confirm","Are you sure?").attr("data-method","delete").attr("rel","nofollow");
                    td_delete.append(delete_href);
                    tr.append(td_div)
                      .append(td_name)
                      .append(td_furigana)
                      .append(td_tel_number)
                      .append(td_number050)
                      .append(td_voipid)
                      .append(td_voippasswd)
                      .append(td_show).append(td_edit).append(td_delete); 
                    $("#tellist tbody").append(tr);
//                    alert(users[i].name + "  " + users[i].tel_number);
                  }
                }
            })
        }
    });
  })
</script>
<table id="tellist">
  <thead>
  <tr>
    <th>Div</th>
    <th>Name</th>
    <th>Furigana</th>
    <th>Tel number</th>
    <th>050 number</th>
    <th>VoIP ID</th>
    <th>VoIP passwd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.div %></td>
    <td><%= user.name %></td>
    <td><%= user.furigana %></td>
    <td><%= user.tel_number %></td>
    <td><%= user.number050 %></td>
    <td><%= user.voipid %></td>
    <td><%= user.voippasswd %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
