<h1>Listing users</h1>

<input type="text" id="textbox1"></input>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#textbox1").autocomplete({
      //source : "/auto_complete"
        source: function(request, response) {
            $.ajax({
                url: "/auto_complete",
                dataType: "json",
                data: {term: request.term},
                success: function(data) {
                  //alert("test");
                  //var users = new Array();
                  var users = eval(data);
                  
                  for(var i=0,len=users.length;i<len;i++){
                    alert(users[i].name + "  " + users[i].tel_number);
                  }
                  //foreach(var user in data){
                  //  users.push(user);
                  //}
                  
                  //table init
                  
                }
            })
        }
    });
  })
</script>
<table id="tellist">
  <tr>
    <th>Div</th>
    <th>Name</th>
    <th>Tel number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.div %></td>
    <td><%= user.name %></td>
    <td><%= user.tel_number %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
