<p id="notice"><%= notice %></p>

<p>
  <b>Div:</b>
  <%= @user.div %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Furigana:</b>
  <%= @user.furigana %>
</p>
<p>
  <b>Tel number:</b>
  <%= @user.tel_number %>
</p>
<p>
  <b>050 number:</b>
  <%= @user.number050 %>
</p>
<p>
  <b>VoIP ID:</b>
  <%= @user.voipid %>
</p>
<p>
  <b>VoIP PASSWD:</b>
  <%= @user.voippasswd %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
